<header>
  <h1>
    <a href="/">{{ title }}</a>
  </h1>
  <div class="header-controls">
    <div>
      <select id="sources-list" (change)="onChange($event.target.value)" [attr.disabled]="newsListService.isActive">
        <option *ngFor="let source of data" value="{{source.id}}"> {{source.name}} </option>
      </select>
    </div>
    <div>
      <input type="text" placeholder="Type your text...">
      <button>Filter</button>
    </div>
    <div>
      <input type="checkbox" name="my-news" id="my-news" (change)="checkSelected($event)">
      <label for="my-news">Only created by me</label>
    </div>
    <div>
      <button routerLink="/add-article">Add Article</button>
    </div>
  </div>
</header>
