<ul class="news-list">
  <li *ngFor="let article of newsList | slice:0:show; let i=index">
    <div>
      <div class="image"><img src="{{article.urlToImage}}" alt=""></div>
      <div class="article">
        <div class="article-header">
          <h2>{{article.title}}</h2>
          <div class="article-date">Date: {{article.publishedAt | date:'long'}}</div>
        </div>
        <p>{{article.description}}</p>
        <div><a id="{{article.id}}" href="/article/{{article.id}}">Read more...</a></div>
      </div>
      <div class="article-controls">
        <div><button>Edit</button></div>
        <div><button>Delete</button></div>
      </div>
    </div>
  </li>
</ul>
<div class="load-more">
  <button *ngIf="show < newsList.length" (click)="increaseShow()">Load More</button>
</div>