<ul class="news-list">
  <li *ngFor="let article of newsListService.newsList | slice:0:show; let i=index">
    <div>
      <div class="image"><img src="{{article.urlToImage}}" alt=""></div>
      <div class="article">
        <div class="article-header">
          <h2>{{article.title}}</h2>
          <div class="article-date">Date: {{article.publishedAt | date }}</div>
        </div>
        <p>{{article.description}}</p>
        <div><a id="{{i}}" routerLink="/article/{{i}}">Read more...</a></div>
      </div>
      <div class="article-controls">
        <div><button [disabled]="!isActive" routerLink="/edit-article/{{i}}">Edit</button></div>
        <div><button [disabled]="!isActive">Delete</button></div>
      </div>
    </div>
  </li>
</ul>
<div class="load-more">
  <button *ngIf="show < newsListService.newsList.length" (click)="increaseShow()">Load More</button>
</div>
<!--<div>{{isActive}}</div>-->
