<article>
  <div class="image"><img src="{{article.urlToImage}}" alt="" class="article-img"></div>
  <div class="article">
    <h2>{{article.title}}</h2>
    <p>{{article.content}}</p>
    <div class="article-date">Date: {{article.publishedAt | date:'long'}}</div>
    <p>Author: {{article.author}}</p>
  </div>
  <div class="article-controls">
    <div><button [disabled]="!isActive" routerLink="/edit-article/{{article.id}}">Edit</button></div>
    <div><button [disabled]="!isActive">Delete</button></div>
  </div>
</article>
